<h1>Video Link</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label "Enter Link Below", class: 'small'%><br>
    <%= form.text_field :title, class: 'small' %>
  </p>
 
  <p>
    <%= form.submit "Submit Link"%>
  </p>
<% end %>

<%= link_to 'Back', welcome_index_path, class: 'small' %>