

 
<<iframe src= 'https://www.youtube.com/embed/<%= @article.title %>' frameborder='0'></iframe>


<%= link_to 'Back', welcome_index_path, class: 'small' %>

<!--
<iframe src= 'https://www.youtube.com/embed/videoseries?list=<%= @article.title %>' frameborder='0'></iframe>



<iframe src= 'https://www.youtube.com/embed/videoseries?list=<%= @youtube_id %>' frameborder='0'></iframe>

<P> <%= @youtube_id %> </P>

-->